sudo: required
services:
- docker
before_script:
- docker pull google/cloud-sdk:latest
- git clone https://$GH_TOKEN@github.com/navikt/nais-platform-apps.git /tmp/nais-platform-apps
script:
- |
  docker run -v `pwd`:/root/.kube/ google/cloud-sdk:latest bash -c \
  "echo $SERVICE_ACCOUNT_KEY > /root/credential.json;
  gcloud auth activate-service-account nais-gke@nais-dev.iam.gserviceaccount.com --key-file=/root/credential.json --project nais-dev;
  gcloud container clusters get-credentials nais-gke --zone europe-west1-b;
  kubectl get pods"
branches:
  only:
  - master
