version: 2
jobs:
   build:
     docker:
       - image: circleci/golang:latest
         environment:
           NAISPLATER_VERSION: 0.0.0
           CLUSTER_CONTEXT_NAME: gke_nais-dev_europe-west1-b_nais-dev
           CLUSTER_NAME: nais-dev
           KUBECTL_IMAGE_TAG: v1.10.0
           NAISCAPER_VERSION: 6.0.0
           GCP_PROJECT: nais-dev
     steps:
       - checkout
       - setup_remote_docker
       # nais-yaml + naisplater = <3
#       - run: |
#           docker create -v /nais-yaml --name files0 alpine:3.4 /bin/true
#           git clone https://${GH_TOKEN}@github.com/navikt/nais-yaml
#           docker cp `pwd`/nais-yaml files0:/
#           docker run --name naisplater --volumes-from files0  navikt/naisplater:${NAISPLATER_VERSION} /bin/bash -c "naisplater ${CLUSTER_CONTEXT_NAME} /nais-yaml/templates /nais-yaml/vars /out"
#           docker cp naisplater:/out naisplater-output
#           ls -l naisplater-output
       # generate valid kubeconfig via gcloud cli
#       - run: |
#           docker create -v /files --name files1 alpine:3.4 /bin/true
#           openssl aes-256-cbc -d -md md5 -in `pwd`/sa-credential.json.enc -out `pwd`/sa-credential.json -k ${ENC_KEY}
#           docker cp `pwd`/sa-credential.json files1:/files
#           docker run --name gcloud --volumes-from files1 navikt/gcloud:1 bash -c "gcloud auth activate-service-account nais-gke@nais-dev.iam.gserviceaccount.com --key-file=/files/sa-credential.json --project ${GCP_PROJECT};gcloud container clusters get-credentials ${CLUSTER_NAME} --zone europe-west1-b;kubectl get pods  > /dev/null"
#           docker cp gcloud:/root/.kube/config kubeconfig
#       # kubectl apply naisplater output
#       - run: |
#           docker create -v /root/.kube/ -v /naisplater-output --name files2 alpine:3.4 /bin/true
#           docker cp `pwd`/naisplater-output files2:/
#           docker cp `pwd`/kubeconfig files2:/root/.kube/config
#           docker run --name kubectl --volumes-from files2 lachlanevenson/k8s-kubectl:${KUBECTL_IMAGE_TAG} apply -f /naisplater-output
#       # naiscaper
       - run: |
           docker create -v /root/.kube/ -v /nais-platform-apps --name files3 alpine:3.4 /bin/true
           git clone https://${GH_TOKEN}@github.com/navikt/nais-platform-apps.git
           docker cp `pwd`/nais-platform-apps files3:/
           ls -l `pwd`/nais-platform-apps
           docker cp `pwd`/kubeconfig files3:/root/.kube/config
           docker run -e HTTPS_PROXY="" --volumes-from files3 navikt/naiscaper:${NAISCAPER_VERSION} /bin/bash -c "ls -l /; ls -l /nais-platform-apps"
           #docker run -e HTTPS_PROXY="" --volumes-from files3 navikt/naiscaper:${NAISCAPER_VERSION} /bin/bash -c "ls /root/ && ls /root/nais-platform-apps && /usr/bin/helm init --service-account=tiller --upgrade && /usr/bin/helm repo update && sleep 20 && naiscaper ${CLUSTER_CONTEXT_NAME} nais /nais-platform-apps"
