version: 2
jobs:
   build:
     docker:
       - image: circleci/golang:latest
         environment:
           NAISPLATER_VERSION: 0.0.0
           CLUSTER_CONTEXT_NAME: gke_nais-dev_europe-west1-b_nais-dev
           CLUSTER_NAME: nais-dev
           KUBECTL_IMAGE_TAG: v1.10.0
           NAISCAPER_VERSION: 6.0.0
           GCP_PROJECT: nais-dev
     steps:
       - checkout
       - run: ls -la
       - run: echo ${ENC_KEY}
       - run: openssl version
       - run: git clone https://${GH_TOKEN}@github.com/navikt/nais-platform-apps.git
       - run: git clone https://${GH_TOKEN}@github.com/navikt/nais-yaml
       - run: openssl aes-256-cbc -d -md md5 -in `pwd`/sa-credential.json.enc -out `pwd`/sa-credential.json -k ${ENC_KEY}
       - run: docker run -v `pwd`:/root/.kube/ -v `pwd`/sa-credential.json:/root/credential.json google/cloud-sdk:latest bash -c "gcloud auth activate-service-account nais-gke@nais-dev.iam.gserviceaccount.com --key-file=/root/credential.json --project ${GCP_PROJECT};gcloud container clusters get-credentials ${CLUSTER_NAME} --zone europe-west1-b;kubectl get pods  > /dev/null"
